
    .grid-a{
        display: grid;
        grid-template-columns: 200px 75px;
        margin-bottom: 10px;
    }
    .grid-b{
        display: grid;
        grid-template-columns: 50px 1fr 75px;
        margin-bottom: 10px;
    }
    .grid-c{
        background-color: pink;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
    }
    .lightpink{
        background-color: pink;
    }